<div id="page-wrapper" [ngClass]="{'open': toggle}">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar">
            <li class="sidebar-main">
                <a (click)="toggleSidebar()">
                    Dashboard
                    <span class="menu-icon glyphicon glyphicon-transfer"></span>
                </a>
            </li>
            <li class="sidebar-title"><span>NAVIGATION</span></li>
            <li class="sidebar-list">
                <a [routerLink]="['/']">FX Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
                <a [routerLink]="['/currency']">Currency Stats <span class="menu-icon fa fa-tachometer"></span></a>
                <a [routerLink]="['/country']">Country Stats <span class="menu-icon fa fa-tachometer"></span></a>
                <a [routerLink]="['/provider']">Provider Stats <span class="menu-icon fa fa-tachometer"></span></a>

            </li>
        </ul>
        <div class="sidebar-footer">
            <div class="col-xs-4">
                <a href="https://github.com/ldkge/visfx" target="_blank">
                    Github
                </a>
            </div>
            <div class="col-xs-4">
                <a href="https://github.com/ldkge/visfx/blob/master/README.md" target="_blank">
                    About
                </a>
            </div>
            <div class="col-xs-4">
                <a href="javascript:void(0)">
                    Support
                </a>
            </div>
        </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
        <div class="page-content">

            <!-- Header Bar -->
            <div class="row header">
                <div class="col-xs-12">

                    <div class="meta">
                        <div class="page">
                            Visfx
                        </div>
                        <div class="breadcrumb-links">
                            <div [ngSwitch]="selectedPage">
                                <template ngSwitchWhen="/">Home / FX Dashboard </template>
                                <template ngSwitchWhen="/currency">Home / Currency Stats </template>
                                <template ngSwitchWhen="/country">Home / Country Stats </template>
                                <template ngSwitchWhen="/provider">Home / Provider Stats </template>
                                <template ngSwitchDefault>Home / FX Dashboard </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Header Bar -->

            <!--&lt;!&ndash; Main Content &ndash;&gt;-->
            <router-outlet></router-outlet>

        </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
